input[type=checkbox] {
  display: none;
}

[data-bs-theme=dark] {
  --bs-body-bg: #000000 !important;

  transition: all ease-in-out 2s;
}

[data-bs-theme="dark"] .bg-body-tertiary {
  background-color: #ffffff !important;
  color: #000000 !important;
}

[data-bs-theme="light"] .navbar .nav-link {
  color: white !important;
}

[data-bs-theme="dark"] .navbar .nav-link {
  color: black !important;
}

[data-bs-theme="light"] .bg-body-tertiary {
  background-color: black !important;
  color: white !important;
}

[data-bs-theme="dark"] footer ul li a {
  color: black;
}

[data-bs-theme="light"] footer ul li a {
  color: white;
}

[data-bs-theme="dark"] footer h3 {
  color: black;
}

[data-bs-theme="light"] footer h3 {
  color: white;
}

[data-bs-theme="light"] .door1 h2,
[data-bs-theme="dark"] .door2 h2 {
  color: black;
}

[data-bs-theme="light"] .door2 h2,
[data-bs-theme="dark"] .door1 h2 {
  color: white;
}

[data-bs-theme="dark"] .door2 {
  background-color: white;
  border: 10px solid #000000;
}

[data-bs-theme="light"] .door2 {
  background-color: #000000;
  border: 10px solid #ffffff;
}

[data-bs-theme="dark"] .door1 {
  background-color: #000000;
  border: 10px solid #ffffff;
}

[data-bs-theme="light"] .door1 {
  background-color: white;
  border: 10px solid #000000;
}

.door {
  border-radius: 168.838px 168.838px 0px 0px;
  height: 60vh;
  cursor: pointer;
}

.door h2 {
  transition: ease-out .5s;
}

.door h2:hover {
  transform: scale(0.8);
}



/* [data-bs-theme="light"] {
  --bs-link-color: #6ea8fe !important;
  --bs-link-hover-color: #9ec5fe !important;
  --bs-link-color-rgb: 110, 168, 254 !important;
  --bs-link-hover-color-rgb: 158, 197, 254 !important;
} */

.btn-primary {
  --bs-btn-bg: #2A9D8F;
  --bs-btn-border-color: #2A9D8F;
  --bs-btn-hover-bg: #22877c;
  --bs-btn-hover-border-color: #22877c;
  --bs-btn-active-bg: #1f766c;
  --bs-btn-active-border-color: #1f766c;
}

.bs-dropdown-link-active-bg {
  background-color: #2A9D8F !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {

  background-color: #2A9D8F !important;
}

.nav-link:hover {
  color: #2A9D8F !important;
}

.nav-link {
  color: #2A9D8F !important;
}

:root {
  --bs-dropdown-link-active-bg: #2A9D8F !important;
  ;
}

[data-bs-theme="dark"] .navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;

}

[data-bs-theme="light"] .navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}



.checkbox-image {
  display: none;
  cursor: pointer;
}

.fadin {
  transition: all 1s;
}

#switch-theme:not(:checked)~.bi.bi-brightness-high-fill {
  display: inline-block;
  transition: all ease-in-out 2s;
}

#switch-theme:checked~.bi.bi-moon-stars-fill {
  display: inline-block;
  transition: all ease-in-out 2s;
}

@import "bootstrap";

body {
  margin: 0 auto;
  font-size: 100%;
  /* font-family: 'Clash Display', sans-serif; */
  font-family: 'Satoshi', sans-serif;
  overflow-x: hidden;

}


.breadcrumb-item a {
  color: #2A9D8F;
}

.nextLink a {
  color: #2A9D8F;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}



.door h2 {
  text-transform: none !important;
}



footer ul li {
  list-style: none;
  font-size: 1.2rem;
}

footer ul li a {
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 900 !important;
}

.vh100 {
  height: 100vh;
}

.vh75 {
  height: 75vh;
}

.vh50 {
  height: 50vh;
}

h2 {
  font-size: 1.5em;
  font-weight: 700 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}

hr {
  border: 5px solid #2A9D8F;
  opacity: 1;
}

label {
  font-size: 1.3em;

  z-index: 100;

  -webkit-transition: -webkit-transform 0.2s linear;
}

.work {
  list-style: none;
}

@media screen and (max-width:1000px) {
  .photoTemoignage {
    display: none;
  }
}